.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body {
  background-color: #a5c9ca;
}
@media only screen and (max-width: 600px) {
  .home-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
