.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.question-box {
  background-color: rgb(32, 70, 70);
  color: aliceblue;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}
