@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.navigation {
  background-color: #2c3333;
}
.navbar .logo {
  font-size: 50px;
  font-family: "Pacifico", cursive;
  color: tomato;
}
.navbar-toggler {
  background-color: aliceblue;
  color: #2c3333;
}
